{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}


    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #4b4b4b;
            margin: 0;
            padding: 0;
        }
        .header {
            background-color: #26a5fa;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        .container {
            max-width: 1400px;
            margin: 0 auto;
            padding: 80px;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }
        .content {
            padding: 20px;
        }
        h1 {
            font-size: 36px;
        }
        p {
            font-size: 18px;
            line-height: 1.6;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #337ab7;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        .button:hover {
            background-color: #135a9e;
        }
    </style>
</head>
<body>
    <div class=".bg-primary">
        
    </div>

    <div class="container">
        <h1>Website belum jadi silakan datang kembali</h1>
        <p>Di Bilangin Belum jadi</p>
    </div>
    
    <div class="container">
        <div class="content">
            
        </div>
    </div>
{% endblock %}
